In [81]:
import pandas as pd

In [82]:
raw = pd.read_csv("raw.csv")

In [83]:
raw[['Вторичка', 'Новостройки']] = raw['Вторичка\n\nновостройки\n₽/м²'].str.split('\n', expand=True)
raw[['Аренда 1', 'Аренда 2']] = raw['Аренда 1-комн.\n\n2-комн.\n₽/месяц'].str.split('\n', expand=True)

In [84]:
def extract_pattern(text):
    return text.str.extract(r'(^\S+\s+.{3})')[0]
def extract_pattern2(text):
    return text.str.extract(r'(^\S+\s+.{3}\s+.{3})')[0]

In [85]:
raw['Аренда 1'] = extract_pattern(raw['Аренда 1'])
raw['Аренда 2'] = extract_pattern(raw['Аренда 2'])
raw['Вторичка'] = extract_pattern(raw['Вторичка'])
raw['Новостройки'] = extract_pattern(raw['Новостройки'])
raw['Квартиры₽/м²'] = extract_pattern(raw['Квартиры₽/м²'])
raw['Земля₽/сотка'] = extract_pattern(raw['Земля₽/сотка'])

In [86]:
del raw['Вторичка\n\nновостройки\n₽/м²']
del raw['Аренда 1-комн.\n\n2-комн.\n₽/месяц']

In [87]:
raw['Дома₽'] = extract_pattern2(raw['Дома₽'])

In [96]:
raw['год'] = 2010 + (raw.index // 12)
raw['Месяц'] = (raw.index % 12) + 1

In [95]:
raw

,Месяц,Квартиры₽/м²,Дома₽,Земля₽/сотка,Вторичка,Новостройки,Аренда 1,Аренда 2,год
0,1,135 966,12 566 581,209 510,131 419,145 601,14 201,34 929,2010
1,2,128 354,14 590 131,229 866,128 618,127 801,12 461,32 186,2010
2,3,120 998,15 231 910,217 746,128 244,108 352,12 043,29 000,2010
3,4,121 892,13 789 310,207 058,120 129,127 419,11 125,25 431,2010
4,5,118 752,14 494 667,208 949,117 072,124 931,10 457,22 652,2010
...,...,...,...,...,...,...,...,...,...
175,8,429 326,34 708 920,836 323,392 513,500 587,61 571,80 210,2024
176,9,417 080,39 625 000,673 909,388 840,518 093,52 525,74 505,2024
177,10,427 942,39 625 000,673 909,394 113,573 200,36 663,53 477,2024
178,11,429 848,38 833 334,673 909,385 210,534 760,37 101,54 727,2024
179,12,424 483,23 666 667,876 958,399 902,498 260,41 518,73 120,2024

In [97]:
raw.to_csv('data.csv')